venv/
.idea/
__pycache__/

# Ignore video folder
videos/

# Ignore testing Jupyter Notebook
notebook-tests.ipynb

testing.py

# Ignore test database
test
tmsc-testing

# Ignore config.json file with credentials
config.json

# Chrome Drive Log
geckodriver.log